{% extends "base.html" %}
{% block content %}
<table id="data" class="table table-striped table-dark">
    <thead>
      <tr>
          <th>Nome</th>
          <th>Modalità</th>
          <th>Professor</th>
          <th>Inizio Lezioni</th>
          <th>Fine Lezioni</th>
          <th>Numero ore</th>
          <th>Iscrizione</th>
      </tr>
    </thead>
    <tbody>
      {% for Course in courses %} <!--prima tabella poi elemento query-->
        <tr>
          <td>{{ Course.name }}</td>
          <td>{{ Course.mode }}</td>
            <!--Bisogna usare il nome del backref e non della foreign key-->
          <td>{{ Course.users.name +" "+Course.users.surname }}</td>
          <td>{{ Course.start_month }}</td>
          <td>{{ Course.end_month }}</td>
          <td>{{ Course.n_hour }}</td>



            <td> <a href = "{{ url_for('courses.single_course',course= Course.name ) }}">vai al corso</a> </td> <!-- VALUTARE SE EFFETTUARE SU ID -->
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          {searchable: true},
          {orderable: true, searchable: false},
          {orderable: false, searchable: false},
           null ],
      });
    });
  </script>
{% endblock %}


