{% extends "base.html" %}
{% block title %}
    Profilo
{% endblock %}
{% block content %}
    <div class="container-fluid">

    <div class="row">
        <div class="col" style="height: 400px;">
            <div class="mx-auto" style="width: 1400px;">
            <div class="card shadow mb-4" style="width: 1300px;height: 350px;">
                <div class="card-header py-3" style="width: 1300px;height: 60px;">
                    <h6 class="text-primary fw-bold m-0">                                                                                                                       INFORMAZIONI DEL PROFILO</h6>
                </div>
                <div class="card-body" style="height: 250px;border-style: none;">
                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <p class="text-primary m-0 fw-bold">Username:</p><label type="text" readonly class="form-control">{{ current_user._user_id }}</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <p class="text-primary m-0 fw-bold">Email:</p><label type="text" style="text-transform: none;" readonly class="form-control">{{ current_user._email }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <p class="text-primary m-0 fw-bold">Nome:</p><label type="text" readonly class="form-control">{{ current_user._name }}</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <p class="text-primary m-0 fw-bold">Cognome:</p><label type="text" readonly class="form-control">{{ current_user._surname }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                 <div class="mb-3">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aggiungi">
                                        Modifica i tuoi dati
                                    </button>
                                     {% with messages = get_flashed_messages(with_categories=true) %}
                                      <!-- Categorie: success (green), info (blue), warning (yellow), danger (red) -->
                                      {% if messages %}
                                          {% for category, message in messages %}
                                              <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                                  {{ message }}
                                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                              </div>
                                          {% endfor %}
                                      {% endif %}
                                  {% endwith %}
                                 </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% if current_user._role!="admin" %}
    <div class="row">
        <div class="col">
            <div class="mx-auto" style="width: 1400px;">
            <div class="card shadow mb-4" style="width: 1300px;height: 700px;">
                <div class="card-header py-3" style="width: 1300px;">
                    <h6 class="text-primary fw-bold m-0">                                                                                                                             LISTA  CORSI {% if current_user._role=="professor" %} CREATI{% endif %} {% if current_user._role=="user" %}A CUI SEI ISCRITTO {% endif %}   </h6>
                </div>
                <div class="card-body" style="width: 1270px;margin: 20px;">
                    <div class="table-responsive">
                        <table id="data" class="table table-striped">
                            <thead>
                              <tr>
                                  {% if  current_user._role=='professor' %}
                                      <th>Nome</th>
                                      <th>Modalità</th>
                                      <th>Numero studenti iscritti</th>
                                      <th>Inizio Lezioni</th>
                                      <th>Fine Lezioni</th>
                                      <th>Pagina corso</th>
                                  {% endif %}
                                  {% if current_user._role=='user' %}
                                      <th>Nome</th>
                                      <th>Modalità</th>
                                      <th>Lezioni con presenza registrata</th>
                                      <th>Inizio Lezioni</th>
                                      <th>Fine Lezioni</th>
                                      <th>Pagina corso</th>
                                  {% endif %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for Course in courses %} <!--prima tabella poi elemento query-->
                                <tr>
                                  <td>{{ Course._name }}</td>
                                  <td>{{ Course._mode }}</td>
                                    {% if  current_user._role=='professor' %}
                                    <td> {{ Course._users|count }}</td>
                                    {% endif %}
                                    {% if current_user._role=='user' %}
                                    <td>  {{ list[loop.index0]|count }} </td>
                                    {% endif %}
                                  <td>{{ Course._start_date }}</td>
                                  <td>{{ Course._end_date }}</td>
                                    <td> <a href = "{{ url_for('courses.single_course',course= Course._name ) }}"> <img class="info" src="/static/info.jpg" style="width: 20px;"></a></a> </td> <!-- VALUTARE SE EFFETTUARE SU ID -->
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="aggiungi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifica i tuoi dati</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action method="POST" class="card-body">
              {{ form.csrf_token }}
              <div class="row">
                  <div class="col">
                      <div class="mb-3"><label class="form-label" for="name"><strong class="text-primary m-0 fw-bold">Nome</strong></label> {{ form.name(class_="form-control",placeholder= current_user._name )}} </div>
                  </div>
                  {% for error in form.name.errors %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{ error }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                  {% endfor%}
                  <div class="col">
                      <div class="mb-3"><label class="form-label" for="surname"><strong class="text-primary m-0 fw-bold">Cognome</strong></label> {{ form.surname(class_="form-control",placeholder= current_user._surname )}}  </div>
                  </div>
                  {% for error in form.surname.errors %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{ error }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                  {% endfor%}
              </div>
              <div class="row">
                  <div class="col">
                      <div class="mb-3"><label class="form-label" for="email"><strong class="text-primary m-0 fw-bold">Email</strong></label>  {{ form.email(class_="form-control",placeholder= current_user._email )}}           </div>
                  </div>
                  {% for error in form.email.errors %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{ error }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                  {% endfor%}
              </div>
              <div class="row">
                  <div class="col">
                      <div class="mb-3"><label class="form-label" for="username"><strong class="text-primary m-0 fw-bold">Nuova password</strong></label>  {{ form.new_password(class_="form-control",placeholder="   " )}}        </div>
                  </div>
                  {% for error in form.new_password.errors %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{ error }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                  {% endfor%}
                  <div class="col">
                      <div class="mb-3"><label class="form-label" for="email"><strong class="text-primary m-0 fw-bold">Inserisci password attuale per confermare</strong></label> {{ form.old_password(class_="form-control",placeholder="   " )}}              </div>
                  </div>
                  {% for error in form.old_password.errors %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{ error }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                  {% endfor%}
              </div>
              <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
          </form>
      </div>
    </div>
  </div>
</div>



    {% block scripts %}
        <script>
            $(document).ready(function () {
              $('#data').DataTable();
            });
        </script>
    {% endblock %}
{% endblock %}




{#{% block scripts %}#}
{#  <script>#}
{#    $(document).ready(function () {#}
{#      $('#data').DataTable({#}
{#        columns: [#}
{#          {searchable: true},#}
{#          {orderable: true, searchable: false},#}
{#          {orderable: false, searchable: false},#}
{#           null,null,null ],#}
{#      });#}
{#    });#}
{#  </script>#}
{#{% endblock %}#}