{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}<!--PAGINA PER MODIFICARE IL CORSO DISPONIBILE SOLO AI PROF E AGLI ADMIN-->
                        {% if (current_user.role=='admin' or current_user.role=='professor') %}

                        {% endif %}
    {% endif %}
    <!--Pagina che renderizza il corso per gli utenti e modulo da cui ci si può iscrivere -->
    <div class="container-fluid">
    <h3 class="text-dark mb-4"></h3>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Informazioni del corso</p>
                        </div>
                        <div class="card-body">
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-success" style="width: {{ progress_bar }}%;"><span class="visually-hidden"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="name"><strong class="text-primary m-0 fw-bold">Nome</strong></label> <p class="text-muted">{{ Course._name }}</p></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="mode"><strong class="text-primary m-0 fw-bold">Modalità</strong></label><p class="text-muted">{{ Course._mode }}</p></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong class="text-primary m-0 fw-bold">Num massimo studenti</strong></label><p class="text-muted">{{ Course._max_student }}</p></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong class="text-primary m-0 fw-bold">Num minimo studenti</strong></label><p class="text-muted">{{ Course._min_student }}</p></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong class="text-primary m-0 fw-bold">Data Inizio</strong></label><p class="text-muted">{{ Course._start_month }}</p></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong class="text-primary m-0 fw-bold">Data Fine</strong></label><p class="text-muted">{{ Course._end_month }}</p></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong class="text-primary m-0 fw-bold">Prof referente</strong></label><p class="text-muted">{{ Course.users._name +" " +Course.users._surname }}</p></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong class="text-primary m-0 fw-bold">Email prof</strong></label><p class="text-muted">{{ Course._users._email }}</p></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong class="text-primary m-0 fw-bold">Stato corso</strong></label><p class="text-muted">{{ attivo }}</p></div>
                                    </div>

                                </div>
                                <div class="row text-center">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong class="text-primary m-0 fw-bold">Descrizione</strong></label><p class="text-muted">{{ Course._description }}</p></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <form action method="POST" class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categorie: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                 {% if current_user.is_authenticated %}
                    {% if current_user._role=='user' %}
                    <div class="text-center">
                        <div class="d-grid gap-2">
                            <button type="submit" class="button is-block is-info is-large is-fullwidth"> Iscriviti   </button>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
          </form>
{% endblock %}





