{% extends "base.html" %}

{% block script %}
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}<!--PAGINA PER MODIFICARE IL CORSO DISPONIBILE SOLO AI PROF E AGLI ADMIN-->
                        {% if (current_user.role=='admin' or current_user.role=='professor') %}

                        {% endif %}
    {% endif %}
    <!--Pagina che renderizza il corso per gli utenti e modulo da cui ci si può iscrivere -->
    <div class="container-fluid">
    <h3 class="text-dark mb-2"></h3>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Informazioni del corso</p>
                        </div>
                        <div class="card-body">
                            {% if current_user._role == "professor" %}
                            <strong class="text-primary m-0 fw-bold">Percentuale progresso corso</strong>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-success" style="width: {{ progress_bar }}%;"><span class="visually-hidden"></span>{{ progress_bar }} %</div>
                                </div>
                            {% endif %}
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="name"><strong class="text-primary m-0 fw-bold">Nome</strong></label> <p class="text-muted">{{ Course._name }}</p></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="mode"><strong class="text-primary m-0 fw-bold">Modalità</strong></label><p class="text-muted">{{ Course._mode }}</p></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong class="text-primary m-0 fw-bold">Num massimo studenti</strong></label><p class="text-muted">{{ Course._max_student }}</p></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong class="text-primary m-0 fw-bold">Num minimo studenti</strong></label><p class="text-muted">{{ Course._min_student }}</p></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong class="text-primary m-0 fw-bold">Data Inizio</strong></label><p class="text-muted">{{ Course._start_month }}</p></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong class="text-primary m-0 fw-bold">Data Fine</strong></label><p class="text-muted">{{ Course._end_month }}</p></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong class="text-primary m-0 fw-bold">Prof referente</strong></label><p class="text-muted">{{ Course.users._name +" " +Course.users._surname }}</p></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong class="text-primary m-0 fw-bold">Email prof</strong></label><p class="text-muted">{{ Course.users._email }}</p></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong class="text-primary m-0 fw-bold">Stato corso</strong></label><p class="text-muted">{{ attivo }}</p></div>
                                    </div>

                                </div>
                                <div class="row text-center">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong class="text-primary m-0 fw-bold">Descrizione</strong></label><p class="text-muted">{{ Course._description }}</p></div>
                                    </div>
                                    <div class="col">
                                        <form action method="POST" class="card-body">
                                            {% for error in form4.id.errors %}
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                {{ error }}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                            {% endfor%}
                                             {% if current_user.is_authenticated %}
                                                {% if current_user._role=='user' %}
                                                     {{ form4.csrf_token }}
                                                     {{ form4.user(value=current_user._user_id) }}
                                                     {{ form4.id(value=Course._course_id) }}
                                                     {{ form4.submit4(type="submit",class="m-2 pb-1 btn btn-primary") }}
                                                {% endif %}
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


          <form action method="POST" class="card-body">
                {% for error in form3.id.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}
                {% for error in form2.token.errors %}
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    {{ error }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                                {% endfor%}
                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categorie: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                 {% if current_user.is_authenticated %}
                    {% if current_user._role=='user' %}
                         {{ form3.csrf_token }}
                         {{ form3.user(value=current_user._user_id) }}
                         {{ form3.id(value=Course._course_id,class_='button is-block is-info is-large is-fullwidth',_type='submit') }}
                    <div class="text-center">
                        <div class="d-grid gap-2">
                             {{ form3.submit3(type="submit",class="m-2 pb-1 btn btn-primary") }}
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
          </form>



        <div class="container-fluid">
        <h3 class="text-dark"></h3>
            {% if current_user._role == "professor" %}
            <button type="button" class="m-2 pb-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#aggiungi">
                Aggiungi Lezione
            </button>
            {% endif %}
        </div>
        <div class="container-fluid">
        {% for lesson in Lessons %}
        <div class="mt-5 row">
            <div class="col">
                <div class="mx-auto" style="width: 1800px;">
                    <div class="card shadow tb-4 mb-1" style="width: 1650px;height: 200px;">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ lesson._description }}</h5>
                                <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#info{{ loop.index }}">Info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#date{{ loop.index }}">Date e Orari</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#extra{{ loop.index }}">extra</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#token{{ loop.index }}">Token Lezioni</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body tab-content">
                                <div class="tab-pane active" id="info{{ loop.index }}">
                                    <p class="card-text">Modalità della lezione: {{ lesson._mode  }}.</p>
                                    <a class="card-link" href={{ lesson._link }}> Link Lezione</a>
                                </div>
                                <div class="tab-pane" id="date{{ loop.index }}">
                                    <p class=" card-text">Data : {{ lesson._date }}</p>
                                    <p class=" card-text">Ora Inizio : {{ lesson._start_hour }}   Fine : {{ lesson._end_hour }}</p>
                                </div>
                                <div class="tab-pane" id="extra{{ loop.index }}">
                                    <p class=" card-text">DECIDERE COSA METTERE</p>
                                </div>
                                <div class="tab-pane" id="token{{ loop.index }}">
                                    {% if current_user._role == "professor" %}
                                        <p class=" card-text">Token segreto per prof: </p>
                                        <p class=" card-text">{{ lesson._secret_token }}</p>
                                    {% endif %}
                                    {% if current_user._role == "user" %}
                                        <form action method="POST">
                                            {{ form2.csrf_token }}
                                            {{ form2.user(value=current_user._user_id) }}
                                            {{ form2.id(value=lesson._lesson_id) }}
                                            <div class="row">
                                            <div class="col">
                                                {{ form2.token(placeholder="Inserisci token",class_="form-control") }}
                                            </div>
                                            <div class="col">
                                            {{ form2.submit2( class="btn btn-primary", type="submit", style="background: var(--bs-red);"  ) }}
                                            </div>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
</div>



    <div class="modal fade" id="aggiungi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aggiungi Lezione</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action method="POST" class="card-body">
                {{ form.csrf_token }}
                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categorie: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-group mb-3">
                    {{ form.start_hour(class_="form-control",placeholder="Ora Inizio")}}
                </div>
                {% for error in form.start_hour.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}
                <div class="form-group mb-3">
                    {{ form.end_hour(class_="form-control",placeholder="Ora Fine")}}
                </div>
                {% for error in form.end_hour.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}
                <div class="form-group mb-3">
                    {{ form.date(class_="form-control",placeholder="Data Lezione")}}
                </div>
                {% for error in form.date.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}
                <div class="form-group mb-3">
                    {{ form.mode(class_="form-control",placeholder="Modalità")}}
                </div>
                {% for error in form.mode.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}
                <div class="form-group mb-3">
                    {{ form.link(class_="form-control",placeholder="Link")}}
                </div>
                {% for error in form.link.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}
                <div class="form-group mb-3">
                    {{ form.structure(class_="form-control",placeholder="Struttura")}}
                </div>
                {% for error in form.structure.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}
          <div class="form-group mb-3">
                    {{ form.description(class_="form-control",placeholder="Descrizione / Argomenti")}}
                </div>
                {% for error in form.description.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}
                {{ form.course(value=Course._name) }}
                {{ form.submit1(type="submit",class="m-2 pb-1 btn btn-primary") }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </form>
      </div>
      </div>
    </div>
  </div>
<script>
    var doc = new jsPDF();
    var elementHandler = {
      '#ignorePDF': function (element, renderer) {
        return true;
      }
    };
    var source = window.document.getElementsByTagName("body")[0];
    doc.fromHTML(
        source,
        15,
        15,
        {
          'width': 180,'elementHandlers': elementHandler
        });

    doc.output("dataurlnewwindow");
</script>

{% endblock %}